<%= render 'shared/errors', obj: @ticket %>

<%= form_with model: @ticket, local: true do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', rows: 6 %>
  </div>

  <div class='form-group'>
    <%= label_tag :project_id %>
    <%= select_tag(
        :project_id,
        options_for_select(@ticket.project_option_tags, selected=@ticket.project_id),
        class: 'form-control'
      )  
    %>
  </div>

  <div class='form-group'>
    <%= label_tag :status %>
    <%= select_tag(
        :status,
        options_for_select(@ticket.class::ALLOWED_STATUS, selected=@ticket.status),
        class: 'form-control'
      )  
    %>
  </div>

  <div class='form-group'>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |cb| %>
      <div class='form-check'>
        <%= cb.check_box(class: "form-check-input") %>
        <%= cb.label(class: "form-check-label") %>
      </div>
    <% end %>
  </div>

  <%= f.submit(@ticket.new_record? ? 'Create Ticket' : 'Update Ticket', class: 'btn btn-primary')%>
<% end %>

<% if !@ticket.new_record? %>
  <%= render 'shared/delete_modal', obj: @ticket %>
<% end %>

