<h4><%= @ticket.name %></h4>

<p><%= @ticket.body %>
<p><b>Tags:</b> <%= list_tags(@ticket) %>

<p>
  <% if logged_in? %>
    <%= link_to 'Edit Ticket', edit_ticket_path(@ticket), class: 'btn btn-secondary' %>
  <% end %>
</p>

<table class="table">
  <tr>
    <th>Status</th>
    <th>Creator</th>
    <th>Assignee</th>
  </tr>
  <tr>
    <td><%= @ticket.status %></td>
    <td><%= @ticket.creator.username %></td>
    <td><%= show_assignee(@ticket) %></td>
  </tr>
</table>

