<h4><%= @ticket.name %></h4>

<p><%= @ticket.body %></p>
<p><b>Tags:</b> <%= list_tags(@ticket) %></p>
<p><b>Project:</b> <%= link_to @ticket.project_name, project_path(@ticket.project_id) %></p>


<p>
  <% if logged_in? %>
    <%= link_to 'Edit Ticket', edit_ticket_path(@ticket), class: 'btn btn-secondary' %>
  <% end %>
</p>

<table class="table">
  <tr>
    <th>Status</th>
    <th>Creator</th>
    <th>Assignee</th>
  </tr>
  <tr>
    <td><%= @ticket.status %></td>
    <td><%= @ticket.creator.username %></td>
    <td><%= show_assignee(@ticket) %></td>
  </tr>
</table>

<h4>Comments</h4>

<% @ticket.comments.order(created_at: :asc).each do |comment| %>
  <div class="card">
    <div class="card-body">
      <p class="card-text"><%= comment.body %></p>
      <small>
        <p>
          Posted by <%= comment.creator.username %> 
          <%= time_ago_in_words(comment.created_at) %> ago.
          <%= show_updated_at(comment) %>
        </p>
        <% if logged_in? && same_user(comment) %>
          <%= link_to 'edit', edit_ticket_comment_path(@ticket, comment), class: 'btn btn-sm btn-outline-secondary'%>
        <% end %>
      </small>
    </div>
  </div>
  <br/>
<% end %>
<hr/>

<% if logged_in? %>
  <%= render 'comments/form' %>
<% end %>

